.apex-tooltip {
  color: "#000";
}

.grid-container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 50px 200px;
  padding: 30px 30px;
  gap: 20px;
}

.candlestick-chart {
  grid-row: 1/2;
}

.models {
  grid-row: 1/3;
}

.indicators {
  grid-row: 2/4;
}

@media only screen and (max-width: 600px) {
  .grid-container {
    grid-template-columns: 1fr;
  }
}
