.hero-section {
  clip-path: polygon(25% 0%, 69% 0, 69% 100%, 25% 100%, 0% 50%);
  content: " ";
  height: 100%;
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  block-size: 100%;
  flex: 2;
  display: inline-block;
}

.left-section {
  flex: 1;
}

.landing {
  height: calc(100vh - 50px);
}

.typed-cursor {
  font-size: 2.25rem;
  line-height: 2.5rem;
}

.hero-svg {
  position: absolute;
  top: 10px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(90deg);
}

.hero-svg svg {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

.hero-svg .shape-fill {
  fill: #ffffff;
}
